

.quick-view-dialog__product-info{
    display:flex;
    gap: 1rem;
    align-items: start;
}

.quick-view-dialog__image img{
    width: 120px;
    height: 140px;
    object-fit: cover;
    object-position: center center;
}

.quick-view-dialog__product-info .product__title{
    font-family: 'Jost', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    margin: 0 0 12px;
    line-height: 1;
}

.quick-view-dialog__product-info .product__description{
    font-family: 'Jost', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0 0 12px;
    line-height: 1;
}

.quick-view-dialog__product-info .price__sale{
    font-family: 'Lustria', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    margin: 0 0 12px;
    line-height: 1;
}